<!doctype html>
{% load static%}
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'app/css/bootstrap.min.css'%}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <title>Weather App</title>
        <!-- add icon link -->
        <link rel = "icon" href ="https://www.google.de/url?sa=i&url=https%3A%2F%2Ficonscout.com%2Ficon%2Fweather-192&psig=AOvVaw31D6Ktn3GnYkAjl00A-N9O&ust=1612015240955000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCLijpPKmwe4CFQAAAAAdAAAAABAI" 
        type = "image/x-icon">
    </head>
    <body>
        <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
            <a class="navbar-brand"> <img src="https://www.google.de/url?sa=i&url=https%3A%2F%2Fwww.pinterest.es%2Fpin%2F768286017674765768%2F&psig=AOvVaw31D6Ktn3GnYkAjl00A-N9O&ust=1612015240955000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCLijpPKmwe4CFQAAAAAdAAAAABAO"></a>
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Pesquisar</button>
            </form>
        </nav>
                
        

        <main class="container" style="text-align: center; background-color:cornflowerblue" >
            {% block content%}

            {%endblock content%}          
        </main>
        
    </body>
</html>